.container.svelte-1ulfomc{padding:10px;display:flex;justify-content:center;align-items:center;column-gap:10px;border-radius:10px}@media only screen and (max-width: 500px){.container.svelte-1ulfomc{flex-direction:column}}
